<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Musical Bot Project</title>
</head>
<body>
    <header>
        <h1>Welcome to the Musical Bot Project</h1>
    </header>
    <main>
        <section class="button-section">
            <a href="musical_bot.html" class="main-button">Try the Musical Bot</a>
        </section>
        <section class="description-section">
            <p>Experience the magic of music generation with our Musical Bot. Create melodies, beats, and explore a world of music possibilities.</p>
        </section>
    </main>
</body>
</html>
